/* importação das fontes */

@font-face {
  font-family: 'title';
  src: url(/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'mario';
  src: url(/assets/fonts/super_mario_256/SuperMario256.ttf);
}


:root {
  /* cores */
  --color-white: #fff;
  --background: #ad0110;

  /* fontes */
  --fonte-textos: 'title', sans-serif;
  --fonte-mario: 'mario', sans-serif;


  /* tamanho das fontes */
  --tamanho-menus: 1.4rem;
  --tamanho-textos: 1.6rem;
}
