* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #fff;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
  text-align: center;
}

/* tudo dentro do site  */
body {
  width: 100vw;
  height: 100vh;
  background-image: url("summonersrift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
}

main {


}

/* o cabeçario no top, o menu */
.top {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-around;
  padding: 0px 10px;
  background-color: rgb(0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.9;
  -moz-opacity: 0.9;
  -webkit-opacity: 0.9;
}

.logoriot {
  display: flex;
  gap: 5px;
}

.imgslogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

img {
  width: 35px;
}

.logoriot img:nth-child(2) {
  /* background-color: rgba(128,128,128,.2); */
  width: 20px;
  border-radius: 10px;
}

/* personalização do svg */

.svgRiot {
  display: flex;
  gap: 5px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

/* personalização do svg quando o cursor do mouse passar por cima */

.svgRiot:hover {
  fill: rgb(255, 0, 0);
  transition: all 3s ease;
}

/* personalização do svg seta para baixo ao lado do simbolo da riot games */

.svgseta {
  width: 10px;
}

.svgRiot:hover .svgseta {
  rotate: 360deg;
  transition: all 0.5s;
}

/* menu do header */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
  display: none;
}

.menu li a {
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.menu li a:hover {
  background-color: #2b2a29;

  border-bottom: solid 3px rgb(11, 196, 226);
}

.mais {
}
.svgsetamais {
  width: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  fill: #fff;
}

/* .centralistalista {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
} */

/* .svgsetinha {
    margin-left: 5px;
} */

/* LUPA PESQUISA */

.search-box {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  top: 50%;
  right: 50%;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.2);
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  padding: 0;
  font-size: 16px;
  width: 0;
  transition: all 0.4s ease;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.search-box:hover > .search-txt {
  padding-left: 10px;
  width: 125px;
}

.search-lupa {
  fill: #fff;
}

.direito {
  display: flex;
  align-items: center;
  justify-content: end;
  /* width: 500px; */
  gap: 5px;
}

.butoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button {
  background-color: rgba(128, 128, 128, 0.2);
  color: #fff;
  padding: 2px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:nth-child(2) {
  color: #2b2a29;
  background-color: rgb(11, 196, 226);
}

.principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100vw;
}

.logolol {
  width: 300px;
}

.logos {
    display: flex;
  }



.thresh {
    margin-top: -50px;
}

/* .logothresh {
    margin-top: -250px;
    width: 900px;
} */

.logothresh {
  width: 400px;

}

.svgseta2 {
  rotate: 270deg;
  width: 10px;
  fill: #fff;
}

.svgseta2:hover {
  rotate: 0deg;
  transition: all 1s ease;
  fill: red;
}

.btnjogue {


        background-color: rgba(128, 128, 128, 0.2);
        color: #fff;
        padding: 2px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;

        padding: 10px;

        color: #2b2a29;
        background-color: rgb(11, 196, 226);
}

.bntdownload {
    background-color: rgb(0, 255, 170);
}

.dispositivoson{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dispositivosimg {
  width: 400px;
  object-fit: contain;
  clip-path: circle(50% at 50% 50%);




}