@import url("/assets/css/components.css");


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #fff;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
  text-align: center;
  font-size: 62.5%;
  text-overflow: ellipsis;
}

main p {
  font-size: 1.9rem;
}

h3 {
  font-size: 2rem;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: url("/assets/imgs/backgroundSummonersrift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 10px;
}

.top {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  padding: 0 2%;
  gap: 5px;
  background-color: rgb(0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.9;
  -moz-opacity: 0.9;
  -webkit-opacity: 0.9;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;

}

.logoRiot {
  display: flex;
  align-items: center;
  gap: 5px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
  overflow-y: hidden;
  height: 100%;

}


.logoRiot:hover {
  fill: rgb(255, 0, 0);
  transition: all 3s ease;
}

.menuRiot {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  background-color: #2b2a29;
  /* display: none; */
  visibility: hidden;
  transition: all 0.9 ease;
  z-index: 999;
  /* background-image: url(/assets/imgs/menuRiot.png);
  background-size: contain;
  background-repeat: no-repeat; */
}

.logoRiot:hover .menuRiot {
  /* display: block; */
  visibility: visible;
}

.menuRiotLogos {
  display: flex;
  flex-direction: column;
}

/* .menuRiotImg {
  width: 100vw;
} */










.logoSeta {
  rotate: 270deg;
  fill: #fff;
  width: 10px;
}

.logoRiot:hover .logoSeta {
  rotate: 360deg;
  transition: all 0.5s ease;
  fill: rgb(255, 0, 0);
}

.logoLol {
  display: flex;
  gap: 5px;
  cursor: pointer;
  overflow-y: hidden;
}

.logoLol > img {
  width: 35px;
  object-fit: contain;
}

.logoLol:hover .logoSeta {
  rotate: 360deg;
  transition: all 0.5s ease;
  fill: rgb(255, 0, 0);
  
}


/* nseioque é  */
.svgsetamais {
  width: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  fill: #fff;
}


/* Menu do Header */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
  display: none;
  font-size: 3.5rem;
  font-weight: bolder;
  white-space: nowrap;
}

.menu::before {
  content: '||';
  color: #2b2a29;
}

.menu li {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  
}

.menu li:hover {
  background-color: #2b2a29;
  border-bottom: solid 3px rgb(11, 196, 226);
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}


/* Caixa de Pesquisa */

.search-box {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.2);
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  width: 0;
  transition: all 0.4s ease;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.search-box:hover > .search-txt {
  width: 100vw;
}

.logoLupa {
  width: 15px;
  fill: #fff;
}

/* Conteudo Principal */

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
  width: 100vw;
}

.principal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logolol {
  margin-top: 30px;
  width: 80%;
  max-width: 700px;
}

.logoThresh {
  width: 100%;
  max-width: 900px;

}

.logoDispositivos {
  width: 100%;
  max-width: 800px;
  object-fit: contain;
  clip-path: circle(50% at 50% 50%);
}

footer {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #a7a5a5;

}

footer p {
  width: 90vw;
  font-size: 1.6rem;
  color: #a7a5a5;
}


@media only screen and (min-width: 1500px) {
  .menu {
    display: flex;
  }
  .menuRiotLogos {
    flex-direction: row;
  }
  .search-box:hover > .search-txt {
    width: 125px;
  }
  /* .logos {
    width: auto;
  } */
  /* .headerRight {
    width: auto;
  } */
  .principal .principalpc {
    width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }
  .principalpc >div:nth-child(1) {
    order: 1;
  }
  .logoThresh {
    margin-top: -100px;
  }
}