* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
    box-sizing: border-box;
    outline: none;
}

/* tudo dentro do site  */
body {
    width: 100vw;
    background-image: url("summonersrift.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* o cabeçario no top, o menu */
.top {    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    filter: alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
}

.logoriot {
    display: flex;
    gap: 25px;
}

.imgslogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

img {
    width: 35px;
    
}

.logoriot img:nth-child(2) {
    /* background-color: rgba(128,128,128,.2); */
    width: 20px;
    border-radius: 10px;
    
}

/* personalização do svg */

.svgRiot {
    display: flex;
    gap: 5px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
}

/* personalização do svg quando o cursor do mouse passar por cima */

.svgRiot:hover {
    fill: rgb(255, 0, 0);
    transition: all 3s ease;
}


/* personalização do svg seta para baixo ao lado do simbolo da riot games */

.svgseta {
    width: 10px;
}


.svgRiot:hover .svgseta {
    rotate: 360deg;
    transition: all 0.5s;
}


/* menu do header */

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
}

.menu li a {
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.menu li a:hover {
    background-color: #2b2a29;
    
    border-bottom: solid 3px rgb(11, 196, 226);
}

.mais {

   
}
.svgsetamais {
    width: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
    fill: #fff;
}

/* .centralistalista {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
} */

/* .svgsetinha {
    margin-left: 5px;
} */

/* LUPA PESQUISA */

.search-box {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 50%;
    right: 50%;

    border-radius: 10px;
    background-color: rgba(128,128,128,.2);
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    padding: 0;
    font-size: 16px;
    width: 0;
    transition: all .4s ease;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.search-box:hover > .search-txt {
    padding-left: 10px;
    width: 125px;
}

.search-lupa {
    fill: #fff;
}

.direito {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 500px;
    gap: 10px;
}

button {
    background-color: rgba(128,128,128,.2);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:nth-child(2) {
    color: #2b2a29;
    background-color: rgb(11, 196, 226);
    border-radius: 30px;
}

.principal {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: calc(100vh-80px)
}

.logolol {
    width: 400px;
}

.logos {
    display: flex;
}

.dispositivos {
    display: flex;
    align-items: end;
    padding-left: 150px;
    width: 50vw;
}

.pai {
    
}

.gifmonitor {
    margin-right: -300px;
    margin-bottom: 40px;
    width: 290px;
    height: 200px;
}

.monitor {
    width: 300px;
}

.thresh {

}

.logothresh {
    margin-top: -250px;
    width: 900px;
}