/* footer */
footer {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--azul-claro);
}
/* H145 - Footer P */
footer p {
  font-size: 1.6rem;
  font-family: btn;
  color: var(--cinza);
}