/* header */

/* H18 - header da página */
.top {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 2%;
    filter: alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.548);
    border-bottom: solid 3px rgb(11, 196, 226);
}
/* H20 - logos riot e simbolo do lol */
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
/* H22 - logo da riot  */
.logoRiot {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    fill: rgb(255, 255, 255);

}
/* H24 - input menu riot */
.menuHeaderRiot {
    display: none;
    z-index: 2;
}
.menuHeaderRiotLabelc {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* menuRiot :checked visible menu menuRiot */
.menuHeaderRiot:checked~.menuRiot{
    visibility: visible;
}
/* menuRiot :checked dor do logoSvgRiot */
.menuHeaderRiot:checked ~ .menuHeaderRiotLabelc .logoSvgRiot {
    fill: rgb(255, 0, 0);
}
/* menuRiot :checked dor do logoSetaRiot */
.menuHeaderRiot:checked ~ .menuHeaderRiotLabelc .logoSetaRiot {
    fill: rgb(255, 0, 0);
}
/* H27 - logo riot */
.logoSvgRiot {
    width: 103px;
    fill: #ffffff;
}
/* H34 - logo seta */
.logoSetaRiot {
    width: 10px;
    fill: #ffffff;
}
/* H44 - menu riot input e hover */
.menuRiot {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 3px rgb(11, 196, 226);
    visibility: hidden;
}
/* H45 - menuRiot menu input div das imagens */
.menuRiotLogos {
    display: flex;
    flex-direction: column;
}
/* H46/H47 - menuRiot menu fake imagens */
.menuRiotLogos > img {
    width: 100%;
}

/* H52 - logo do lol */
.logoLol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
/* H53 - logo lol imagem */
.logoLol > img {
    width: 35px;
    object-fit: contain;
}
 /* H57 - menuHeader */
.menuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* H59 - .menu-toggle */
.menu-toggle {
    width: 1px;
    opacity: 0;
}
/* .menu-toggle checked aparece o menu */
.menu-toggle:checked~.nav {
    visibility: visible;
}

.menu-toggle-label {
    margin-right: 35px;
}

.menu-toggle-label::after {
    content: '»';
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 12px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
}

.menu-toggle:checked~.menu-toggle-label::after {
    overflow-y: hidden;
    overflow-x: hidden;
    rotate: 90deg;
    top: 14px;
    color: red;
}

.menu li {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #252525;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.menu li:hover {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #252525;
    border-bottom: solid 3px rgb(11, 196, 226);
}


























.nav {
    width: 100%;
    padding: 10px;
    visibility: hidden;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: rgba(0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px;
    border: solid 3px rgb(11, 196, 226);
}

.menu {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    font-size: 3.5rem;
    font-weight: bolder;
    white-space: nowrap;

    overflow-y: hidden;
    overflow-x: hidden;
}




/* nseioque é  */
.svgsetamais {
    width: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
    fill: #fff;
}

/* Menu do Header */



a {
    font-family: menu;
    font-size: 1.7rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

p {
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: -1;
    font-family: btn;
    font-weight: bolder;
    opacity: 0.8;
}


















.headerRight {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    /* test */
    overflow-x: hidden;
    overflow-x: hidden;
}

.search-box {
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}

.search-txt {
    overflow-y: hidden;
    overflow-x: hidden;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    width: 0;
    transition: all 0.4s ease;
}

.search-btn {
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.search-box:hover>.search-txt {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    padding: 0 20px;
}

.search-box:hover .top {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.logoLupa {
    width: 15px;
    fill: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media only screen and (min-width: 1500px) {
    /* pc */
    .logoRiot:hover .logoSetaRiot {
    rotate: 360deg;
    transition: all 0.3s ease;
    fill: rgb(255, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
    }

    .logoRiot:hover {
    fill: rgb(255, 0, 0);
    transition: all 0.3s ease;
    overflow-y: hidden;
    overflow-x: hidden;
    }
    .menu li {
        display: flex;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menuRiotLogos {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menuHeaderRiotLabelc:hover ~ .menuRiot {
        visibility: visible;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menuHeaderRiot:checked ~ .menuHeaderRiotLabelc::after {
        content: '🔒';
        font-size: 1.5rem;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menu-toggle-label {
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      /* menu lista */
      .nav {
        visibility: visible;
        overflow-x: hidden;
        width: auto;
        height: auto;
        position: unset;
        padding-left: 20px;
        background-color: transparent;
        overflow-y: hidden;
      }
      .menu {
        width: auto;
        height: auto;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menu li {
        background-color: transparent;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    
    
      .search-box:hover > .search-txt {
        width: 125px;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .search-box:hover > .search-txt {
        width: 125px;
        overflow-x: hidden;
      }
}