/* header */
header {
    width: 100%;
}
/* H18 - header da página */
.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 2%;
    filter: alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.548);
    border-bottom: solid 3px var(--azul-claro)
}
/* H20 - logos riot e simbolo do lol */
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
/* H22 - logo da riot  */
.logoRiot {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    fill: var(--branco);
}
/* H24 - input menu riot */
.menuHeaderRiot {
    display: none;
    z-index: 2;
}
.menuHeaderRiotLabelc {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* menuRiot :checked visible menu menuRiot */
.menuHeaderRiot:checked~.menuRiot{
    visibility: visible;
}
/* menuRiot :checked cor do logoSvgRiot */
.menuHeaderRiot:checked ~ .menuHeaderRiotLabelc .logoSvgRiot {
    transition: all 0.3s ease;
    fill: var(--verde);
}
/* menuRiot :checked cor do logoSetaRiot */
.menuHeaderRiot:checked ~ .menuHeaderRiotLabelc .logoSetaRiot {
    rotate: 0deg;
    transition: all 0.3s ease;
    fill: var(--verde);
}
/* H27 - logo riot */
.logoSvgRiot {
    /* width: 103px;
    height: 100%; */
    transition: all 0.3s ease;
    fill: var(--branco);
}
/* H34 - logo seta */
.logoSetaRiot {
    width: 10px;
    rotate: -90deg;
    transition: all 0.3s ease;
    fill: var(--branco);
}
/* H44 - menu riot input e hover */
.menuRiot {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 3px var(--azul-claro);
    visibility: hidden;
}
/* H45 - menuRiot menu input div das imagens */
.menuRiotLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* H46/H47 - menuRiot menu fake imagens */
.menuRiotLogos > img {
    width: 100%;
    height: 100%;
}
/* H52 - logo do lol */
.logoLol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
/* H53 - logo lol imagem */
.logoLol > img {
    /* width: 35px;
    height: 100%; */
    object-fit: contain;
}
 /* H57 - menuHeader */
.menuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* H59 - .menu-toggle */
.menu-toggle {
    width: 1px;
    opacity: 0;
}
/* .menu-toggle checked aparece o menu */
.menu-toggle:checked~.nav {
    visibility: visible;
}
/* H58 - .menu-toggle-label */
.menu-toggle-label {
    margin-right: 35px;
}
/* H58 - .menu-toggle-label */
.menu-toggle-label::after {
    content: '»';
    width: 30px;
    top: 12px;
    position: absolute;
    font-size: 30px;
    margin-right: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
/* menu-toggle:checked .menu-toggle-label */
.menu-toggle:checked~.menu-toggle-label::after {
    rotate: 90deg;
    top: 14px;
    transition: all 0.3s ease;
    color: var(--vermelho);
}
/* H60 - nav */
.nav {
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--preto);
    border: solid 3px var(--azul-claro);
    visibility: hidden;
}
/* H61 - menu */
.menu {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    font-size: 3.5rem;
    font-weight: bolder;
    white-space: nowrap;
    cursor: pointer;
}
/* H62/95 - menu li */
.menu li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--background);
}
/* H62/95 - menu li com hover */
.menu li:hover {
    background-color: var(--background);
    border-bottom: solid 3px var(--azul-claro);
}
/* H62/95 - menu li a */
a {
    font-family: menu;
    font-size: 1.7rem;
}
/* H88 - Seta li > Mais */
.svgSetaMais {
    /* width: 5px;
    height: 100%; */
    margin-left: 5px;
    margin-bottom: 3px;
    fill: #fff;
}
/* H101 - .headerRight */
.headerRight {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}
/* H102 - .search-box */
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 50%;
    z-index: 999;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}
.search-box:hover > .search-txt {
    width: 100vw;
    padding: 0 20px;
}
.search-box:hover .top {
    display: none;
}
/* H103 - .search-txt */
.search-txt {
    width: 0;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    transition: all 0.4s ease;
}
/* H104 - .search-btn */
.search-btn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    border-radius: 50%;
}
/* H105 - logoLupa */
.logoLupa {
    /* width: 15px; */
    fill: #fff;
}
/* H113 - botões no css componentes */

/* DESKTOP */
@media only screen and (min-width: 1500px) {
    /* H22 - .logoRiot:hover */
    .logoSvgRiot:hover {
        transition: all 0.3s ease;
        fill: var(--vermelho);
    }
    .logoRiot:hover .logoSetaRiot {
        rotate: 0deg;
        transition: all 0.3s ease;
        fill: var(--vermelho);
    }
    /* H24/25 - .menuHeaderRiot checked e hover */
    .menuHeaderRiot:checked ~ .menuHeaderRiotLabelc::after {
        content: '🔒';
        font-size: 1.5rem;
    }
    .menuHeaderRiotLabelc:hover ~ .menuRiot {
        visibility: visible;
    }
    .menuRiot:hover {
        visibility: visible;
    }
    /* H44 - menuRiotLogos thresh e dispositivos */
    .menuRiotLogos {
        flex-direction: row;
    }
    /* H58 .menu-togge-label */
    .menu-toggle-label {
        display: none;
    }
    /* H60 - nav */
    .nav {
        visibility: visible;
        width: auto;
        height: auto;
        position: unset;
        padding-left: 20px;
        background-color: transparent;
        border: none;
    }
    /* H61 - menu */
    .menu {
        width: auto;
        height: auto;
        flex-direction: row;
    }
    /* H62/95 - menu li */
    .menu li {
        display: flex;
        background-color: transparent;;
    }
    /* h102 - .search-box:hover */
    .search-box:hover > .search-txt {
        width: 125px;;
    }
}