/* header */

.top {
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.548);
    filter: alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    border-bottom: solid 3px rgb(11, 196, 226);
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* provisorio */
    /* min-width: 100px;
    min-height: 40px; */
}

.logoRiot {
    background-color: red;
    /* provisorio */
    height: 65px;
    display: flex;
    align-items: center;
    gap: 5px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: hidden;

    transition: all 0.5s ease;

    overflow-y: hidden;
    overflow-x: hidden;
}



.menuRiot {
    
    position: absolute;
    top: 60px;
    left: 0;
    /* provisorio */
    width: 50vw;
    background-color: #2b2a29;
    /* display: none; */
    visibility: hidden;
    transition: all 0.9 ease;
    z-index: 999;
    /* background-image: url(/assets/imgs/menuRiot.png);
    background-size: contain;
    background-repeat: no-repeat; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 3px rgb(11, 196, 226);

    overflow-y: hidden;
    overflow-x: hidden;
}

.menuHeaderRiot {

    display: none;
    z-index: 999;

    background-color: red;
    cursor: pointer;

    overflow-y: hidden;
    overflow-x: hidden;
}

.menuHeaderRiotLabelc {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;

    overflow-y: hidden;
    overflow-x: hidden;
}

.logoSetaRiot {
    rotate: 270deg;
    fill: #fff;
    width: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    overflow-y: hidden;
    overflow-x: hidden;
}

.menuHeaderRiot:checked~.menuRiot , .menuRiot:hover {
    visibility: visible;

    overflow-y: hidden;
    overflow-x: hidden;
}


.menuHeaderRiot:checked~.menuHeaderRiotLabelc .logoSetaRiot {
    fill: rgb(9, 190, 0);
    rotate: 0deg;

    overflow-y: hidden;
    overflow-x: hidden;
}

.menuHeaderRiot:checked~.menuHeaderRiotLabelc .logoRiotSvg {
    fill: rgb(9, 190, 0);

    overflow-y: hidden;
    overflow-x: hidden;
}

.menuRiotLogos {
    display: flex;
    flex-direction: column;

    overflow-y: hidden;
    overflow-x: hidden;
}

/* provisorio */
.menuRiotLogos > img {
    width: 40%;

    overflow-y: hidden;
    overflow-x: hidden;
}












.logoLol:hover .logoSeta {
    rotate: 360deg;
    transition: all 0.3s ease;
    fill: rgb(255, 0, 0);

    overflow-y: hidden;
    overflow-x: hidden;
}

.logoLol {
    display: flex;
    gap: 5px;
    cursor: pointer;

    overflow-y: hidden;
    overflow-x: hidden;
}

.logoLol>img {
    width: 35px;
    object-fit: contain;

    overflow-y: hidden;
    overflow-x: hidden;
}



/* nseioque é  */
.svgsetamais {
    width: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
    fill: #fff;

    overflow-y: hidden;
    overflow-x: hidden;
}

/* Menu do Header */

.menu {
    width: 100vw;

    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    font-size: 3.5rem;
    font-weight: bolder;
    white-space: nowrap;

    overflow-y: hidden;
    overflow-x: hidden;
}

.menuHeader {

    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100wh;
    height: 100vh; */
    overflow-y: hidden;
    overflow-x: hidden;
}

.nav {
    visibility: hidden;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: rgba(0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px;
}

a {
    font-family: menu;
    font-size: 1.7rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

p {
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: -1;
    font-family: btn;
    font-weight: bolder;
    opacity: 0.8;
}


.menu-toggle:checked~.nav {
    visibility: visible;
    overflow-y: hidden;
    overflow-x: hidden;
}

.menu-toggle {
    width: 1px;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-toggle-label {
    margin-right: 35px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.menu-toggle-label::after {
    content: '»';
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 12px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
}

.menu-toggle:checked~.menu-toggle-label::after {
    overflow-y: hidden;
    overflow-x: hidden;
    rotate: 90deg;
    top: 14px;
    color: red;
}

.menu li {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #252525;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.menu li:hover {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #252525;
    border-bottom: solid 3px rgb(11, 196, 226);
}

.headerRight {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    /* test */
    overflow-x: hidden;
    overflow-x: hidden;
}

.search-box {
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}

.search-txt {
    overflow-y: hidden;
    overflow-x: hidden;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    width: 0;
    transition: all 0.4s ease;
}

.search-btn {
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.search-box:hover>.search-txt {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    padding: 0 20px;
}

.search-box:hover .top {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.logoLupa {
    width: 15px;
    fill: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media only screen and (min-width: 1500px) {
    /* pc */
    .logoRiot:hover .logoSetaRiot {
    rotate: 360deg;
    transition: all 0.3s ease;
    fill: rgb(255, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
    }

    .logoRiot:hover {
    fill: rgb(255, 0, 0);
    transition: all 0.3s ease;
    overflow-y: hidden;
    overflow-x: hidden;
    }
    .menu li {
        display: flex;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menuRiotLogos {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menuHeaderRiotLabelc:hover ~ .menuRiot {
        visibility: visible;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menuHeaderRiot:checked ~ .menuHeaderRiotLabelc::after {
        content: '🔒';
        font-size: 1.5rem;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menu-toggle-label {
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      /* menu lista */
      .nav {
        visibility: visible;
        overflow-x: hidden;
        width: auto;
        height: auto;
        position: unset;
        padding-left: 20px;
        background-color: transparent;
        overflow-y: hidden;
      }
      .menu {
        width: auto;
        height: auto;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .menu li {
        background-color: transparent;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    
    
      .search-box:hover > .search-txt {
        width: 125px;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .search-box:hover > .search-txt {
        width: 125px;
        overflow-x: hidden;
      }
}