/* Conteudo Principal */

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
  }
  
  .principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .principal div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;

  }
  
  .logoLeagueoflegends {
    overflow-x: hidden;
    margin-top: 30px;
    width: 80%;
    max-width: 700px;
    
  }
  
  .logoThresh {
    
    margin-top: -50px;
    width: 100%;
    max-width: 720px;
  
    
  
  }
  
  .logoDispositivos {
    overflow-x: hidden;
    z-index: -1;
    width: 100%;
    max-width: 800px;
    object-fit: contain;
    clip-path: circle(50% at 50% 50%);
    
  }
  
  h3 {
    padding: 0 10%;
  }
  
main p {
  font-size: 1.9rem;
}

h3 {
  font-size: 2rem;
}

@media only screen and (min-width: 1500px) {

  .principal_logos > div:nth-child(1) {
    order: 1;
  }
  .logoThresh {
    margin-top: -100px;
  }
}