/* header */

header {
    width: 1920px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

header div {
    display: flex;
    border-bottom: 1px solid;
}

header div ul:nth-child(1) {
    display: flex;
    gap: 28px;
}

header div:nth-child(2) {
    background-color: rgba(0,39,96, 0.20);
}

header div:nth-child(2) img , button {
    font-size: 1.6rem;
    cursor: pointer;
    font-family: var(--fonte-textos);
    text-shadow: black 0.1em 0.1em 0.2em;
}

header div button {
    display: none;
}