/* importação dos assets */
@import url("/assets/css/cores.css");
@import url("/assets/css/components.css");
@import url("/assets/css/fonts.css");

/* importação da página */
@import url(/assets/css/header.css);    /* header */ 
@import url(/assets/css/main.css);     /*  main  */
@import url(/assets/css/footer.css);  /* footer */

/* Configuraçãoes Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-align: center;
  font-size: 62.5%;

  /* nsei */
  outline: none;
  /* provisorio */
  /* overflow-x: hidden; */

  


 
  /* Estilo da Página */
  color: #fff;
}

/* Configurações da Página */
body {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: url("/assets/imgs/backgroundSummonersrift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}